{% extends 'base.html' %}

{% block title %}Results{% endblock %}

{% block content %}

<div class='container'>
	
	<section>
		<h2>Method and Design</h2>
		<p>I intend to examine NASA and EPA data to look for positive trends in environmentalsustainability actions as the indicators of the public intent to improve environmental health. Datacan be examined from different data sets for environmental systems, stress factors, human vulnerability and institutional capacity across the United States. Future analysis could include global comparisons because the data is available. Examples of variables to be reviewed and compared over time include: air quality measures, water quality and availability, toxic materials use/disposal, and compliance, governance and regulation participation. Conducting Sentiment analysis on the topic of environmental sustainability as debates occur over climate change, natural disasters, and drought, etc. is another possibility.</p><h2>Data Sources</h2>
		<p>Initially I am interested in environmental sustainability and indicators of environmental regulation compliance.&nbsp;An important source of data will be the 2014 Environmental Performance Index (EPI) which ranks 178 countries on 20 performance indicators in the following 9 policy categories: health impacts, air quality, water and sanitation, water resources, agriculture, forests, fisheries, biodiversity and habitat, and climate and energy. These categories track performance and progress on two broad policy objectives, environmental health and ecosystem vitality. The data set includes the 2014 EPI and component scores, back cast EPI scores for 2002-2012, and time-series source data. &nbsp; The Interactive Website for the 2014 EPI is at http://epi.yale.edu/.&nbsp;
		Another source of data is the Environmental Sustainability Index (ESI) which is a measure of overall progress towards environmental sustainability.&nbsp; The index provides a composite profile of national environmental stewardship based on a compilation of indicators derived from underlying datasets.&nbsp;Data can be pulled from http://sedac.ciesin.columbia.edu/data/collection/esi/.
		Compliance with environmental policy can be examined through the Facility Registry Service (FRS). The Facility Registry Service provides quality facility data to support EPA's mission of protecting human health and the environment. The data provides compliance information about facilities, sites, or places of environmental interest that are subject to regulation. Information is at https://www.epa.gov/enviro/frs-data- sources.</p>
		<h3>Links to Data Sources</h3>
		<ul>
			<li><a href="http://www.epi.yale.edu/">Environmental Performance Index</a></li>
			<li><a href="http://sedac.ciesin.columbia.edu/data/collection/esi/%22">Environmental Sustainability Index</a></li>
			<li><a href="https://www.epa.gov/enviro/frs-data-%20sources/">Facility Register Service</a></li>
		</ul>
	</section>
</div>
{% endblock %}