{% extends 'base.html' %}

{% block title %}Research{% endblock %}

{% block content %}

<div class='container'>
	<h2>Research Question</h2>
		<p>Has industry and the public increased the importance of environmental sustainability and taken action to improve the environmental health of the United States? Has there been a reduction in toxic chemical releases in the U.S.? Is there a noticeable improvement in environmental health to include areas such as reforestation and improvement in air quality?</p>
</div>
{% endblock %}